@{
    Layout = "_Layout";

    ViewData["Title"] = "Exclusão de Garçons";
}

@model ExcluirGarcomViewModel;

<main class="container my-4">
    <div class="row">
        <form class="col-6" asp-action="Excluir" method="post">

            <p class="mb-3">
                Você tem certeza que deseja excluir o garçom <strong>@Model.Nome</strong>?
            </p>

            <div class="text-end">
                <a asp-action="Index" class="btn btn-outline-danger">Voltar</a>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este garçom?')">Confirmar</button>
            </div>

        </form>
    </div>
</main>