@{
    Layout = "_Layout";

    ViewData["Title"] = "Edição de Mesas";
}

@model EditarMesaViewModel;

<main class="container my-4">
    <div class="row">
        <form class="col-6" asp-action="Editar" method="post">

            <div class="mb-3">
                <label asp-for="Numero" class="form-label">Número:</label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Capacidade" class="form-label">Capacidade de Lugares:</label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>

            </div>

            <div class="text-end">
                <a asp-action="Index" class="btn btn-outline-primary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>

        </form>

    </div>
</main>